<div id="footer">
  <div class="container">
    <div class="clearfix">
      <ul class="list-inline pull-left">
        <li><%= link_to "About", "/about" %></li>
        <li><%= link_to "FAQ", "/faq" %></li>
        <li><%= link_to "Terms of Service", "/tos" %></li>
        <li><%= link_to "Privacy Policy", "/privacy" %></li>
      </ul>

      <ul class="list-inline pull-right">
        <li><%= link_to "Twitter", "https://twitter.com/GoldenGuide" %></li>
        <li><%= link_to "Facebook", "https://www.facebook.com/pages/GoldenGuide/221118768011086" %></li>
        <li><%= link_to "LinkedIn", "http://www.linkedin.com/company/goldenguide" %></li>
      </ul>
    </div>

    <p>Copyright 2015 GoldenGuide, LLC. All rights reserved. </p>

  </div>
</div>
