<div class='legal'>
  <div class='heading'>
    <h1>Terms of Service</h1>

    <p>Last Revised February 8 2015</p>
  </div>

  <p>These Terms of Service are a contract between you and Golden Guide, LLC, a company with its principle place of business at 100 Second Avenue South, Suite 210, Edmonds, WA 98020 USA www.Golden Guide.com (“Golden Guide Site”) and the form document generation, collection and storage services therein (collectively the “Service”). By using the Golden Guide Site and any services accessible from the Golden Guide Site, you are agreeing to be bound by the following terms and conditions (“Terms of Service”).</p>

  <p>If you do not agree to these Terms of Service or any part thereof, your only remedy is to not use the Golden Guide Site or the Service. VIOLATION OF ANY OF THE TERMS BELOW WILL RESULT IN THE TERMINATION OF YOUR RIGHT TO USE THE Golden Guide SITE, AND ANY ACCOUNT THAT YOU MAY HAVE CREATED AS PART OF THE SERVICE. YOU AGREE TO USE THE Golden Guide SITE AT YOUR OWN RISK.</p>

  <h3>Your Account</h3>

  <p>In order to open an “Account” on the Golden Guide Site, you must (i) agree to these Terms of Service, (ii) provide a valid email address, and (iii) provide any other information required by Golden Guide during the registration process. You will update this information to maintain its accuracy during the term of this Service. You are responsible for maintaining the security of your account and password. Golden Guide cannot and will not be liable for any loss or damage from your failure to comply with this security obligation. You are also responsible for all content that you may post on the Golden Guide Site (“Content”) and activity that occurs under your Account (even when Content is posted by others who have accounts under your Account). Personally identifiable information submitted by you shall be subject to Golden Guide’s <%= link_to 'Privacy Policy', '/privacy' %> and <%= link_to 'Code of Conduct', '/about#conduct' %>.</p>

  <p>One person or legal entity may not maintain more than one free Account. Accounts registered by “bots” or other automated methods are not permitted.</p>

  <h3>License Grants &amp; Restrictions</h3>

  <p>Golden Guide hereby grants you a non-exclusive, non-transferable, worldwide right to access and use the Golden Guide Site, solely with supported browsers through the Internet for your own internal purposes, subject to the Terms of Service. You may not permit the Golden Guide Site to be used by or for the benefit of unauthorized third parties. Nothing in the Terms of Service shall be construed to grant you any right to transfer or assign rights to access or use the Golden Guide Site. All rights not expressly granted to you are reserved by Golden Guide and its licensors. You shall not (i) modify or make derivative works based upon the Golden Guide Site; (ii) reverse engineer or access the Golden Guide Site in order to (a) build a competitive product or service, (b) build a product using similar features, functions or graphics of the Golden Guide Site, or (c) copy any features, functions or graphics of the Golden Guide Site. You further acknowledge and agree that, as between the parties, Golden Guide owns all right, title, and interest in and to the Golden Guide Site, including all intellectual property rights therein.</p>

  <h3>Your Responsibilities</h3>

  <ul>
    <li>You are responsible for all activity occurring under your accounts and are solely responsible for compliance with all applicable local, state, national and foreign laws, treaties and regulations relating to your use of the Golden Guide Site, including those related to the protection of intellectual property, data privacy, international communications and the transmission of technical or personal data.</li>
    <li>You shall: (i) notify Golden Guide.com immediately of any unauthorized use of any password or account or any other known or suspected breach of security; and (ii) report to Golden Guide.com immediately and use reasonable efforts to stop immediately any copying or distribution of Content that is known or suspected by you.</li>
    <li>You are responsible for obtaining and maintaining any equipment and ancillary services needed to connect to, access or otherwise use the Golden Guide Site, including, without limitation, modems, hardware, server, software, Internet browsers operating system, networking, web servers, long distance and local telephone service, but excluding the Golden Guide Site itself (collectively, “Equipment”). You shall be responsible for ensuring that such Equipment is compatible with the Golden Guide Site. You shall also be responsible for the use, and maintaining the security, of the Equipment.</li>
  </ul>

  <h3>Impermissible Acts</h3>

  <p>As a condition to your use of the Golden Guide Site, you agree not to:</p>

  <ul>
    <li>upload, post, email, transmit or otherwise make available any information, materials or other content that is illegal, harmful, threatening, abusive, harassing, defamatory, obscene, pornographic, offensive, invades another’s privacy, or promotes bigotry, racism, hatred or harm against any individual or group;</li>
    <li>impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity;</li>
    <li>phish, collect, upload, post, email, transmit or otherwise make available any login data and/or passwords for other web sites, software or services;</li>
    <li>phish, collect, upload, post, email, transmit or otherwise make available credit card information or other forms of financial data used for collecting payments;</li>
    <li>forge headers or otherwise manipulate identifiers in order to disguise the origin of any content transmitted through the Golden Guide Site;</li>
    <li>upload, post, email, transmit or otherwise make available any information, materials or other content that infringes another’s rights, including any intellectual property rights; upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of solicitation;</li>
    <li>upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
    <li>use any manual or automated software, devices, or other processes to “crawl,” “spider” or “screen scrape” any web pages contained in the Golden Guide Site;</li>
    <li>reverse engineer, decompile or disassemble any of the software used to provide the Golden Guide Site;
    <li>reproduce, duplicate or copy or exploit any other portion of the Golden Guide Site, without the express written permission of Golden Guide;</li>
    <li>interfere with or disrupt the Golden Guide Site, or any servers or networks connected to the Golden Guide Site, or disobey any requirements, procedures, policies or regulations of networks connected to the Golden Guide Site;</li>
    <li>obtain, collect, store or modify the personal information about other users;</li>
    <li>modify, adapt or hack the Golden Guide Site or falsely imply that some other site is associated with the Golden Guide Site or Golden Guide; or</li>
    <li>use the Golden Guide Site for any illegal or unauthorized purpose. You must not, in the use of the Golden Guide Site, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
  </ul>

  <h3>Termination</h3>

  <p>This Agreement shall remain effective until terminated in accordance with its terms. Golden Guide may terminate this Agreement, and/or your access to and use of the Site, Lessons, or any portion thereof, immediately, in the event we determine, in our sole discretion, that you have breached this Agreement. If, in our sole discretion, we feel your Membership hampers or provides a less-than-satisfactory user experience to the community, we may terminate this Agreement immediately. In addition, we reserve the right, upon 3-business days notice and the reimbursement of any monies that may be due according to the cancellation policy as defined on the Site, to terminate this Agreement without cause.</p>

  <p>Upon termination, you will not have access to your account or any information stored within your account including but not limited to, your profile data, Member information, student or instructor contact information, Lesson Success Journal entries, Practice Page entries, videos, ledger and billing reports, and all other information within your account. You are solely responsible for keeping backup records of any information you want after your account is terminated. We are not responsible for, and will not provide you access to any information within the account after account termination.</p>

  <h3>Indemnification</h3>

  <p>Golden Guide will indemnify all paying accounts against and hold them harmless from: (a) any claim by a third party that any part of the Golden Guide Site or its use, manufacture, sale, distribution, or reproduction infringes or misappropriates any copyrights, trade secrets, patents or other intellectual property; (b) any claim by a third party that this Terms of Service is in conflict, violation or breach of or with any contract, assignment, license, sublicense, security interest, or other obligation to which Golden Guide is a party or has knowledge; (c) any claim relating to any past, present or future use, licensing, sub-licensing, distribution, marketing, disclosure or commercialization of any part of the Golden Guide Site by Golden Guide; and (d) any litigation, arbitration, judgments, awards, attorneys’ fees, liabilities, settlements, damages, losses and expenses relating to or arising from (a), (b) or (c) above.</p>

  <h3>E-Signature Services and Requirements</h3>

  <p>If you use the e-signature feature of our Service, you are agreeing to conduct business transactions with electronic documents and signatures instead of paper-based documents and signatures. You are under no obligation to transact business electronically. To withdraw your consent to conduct electronic transactions, simply stop using the Service and contact us to explore other options.</p>

  <p>You may read and sign each document on a case-by-case basis. Each decision to view or sign a document electronically does not affect the legal effect of any transactions already completed using either electronic or paper-based documents and signatures. You agree to read every document before electronically signing it. You also agree to communicate all issues regarding the content of a document directly with the sending party. Finally, you agree to notify us of any change in your e-mail address in order to prevent interruptions to your communications. You acknowledge and understand that electronic signatures are legally binding in the United States and other countries. You also understand that printed copies of electronic documents are not considered legal originals, but rather copies of the original documents signed on the web site. There are no additional fees for printing or exporting electronic documents or signatures, but additional fees may apply to paper-based transactions.</p>

  <p>Use of the Service requires a standards-compliant web-browser which supports the HTTPS protocol, HTML, and cookies. Many documents and communications will include PDF and Word attachments requiring additional software.</p>

  <p>Electronic signatures are void where prohibited by law. The United States Electronic Signatures in Global and National Commerce Act (the "Act") preserves the legal effect, validity, and enforceability of signatures and contracts relating to electronic transactions and electronic signatures used in the formation of certain electronic contracts. However, as further described in the Act, the Act does not apply to certain contracts and records governed by statutes and regulations such as those related to probate and domestic law matters; state commercial law; consumer law covering utility services, real property defaults and foreclosures, and insurance benefits; product recall notices; and hazardous materials papers.</p>

  <h3>Claims of Copyright Infringement</h3>

  <p>The Digital Millennium Copyright Act of 1998 (the "DMCA") provides recourse for copyright owners who believe that material appearing on the Internet infringes their rights under U.S. Copyright law. If you believe in good faith that materials hosted by Golden Guide or one of its subsidiaries infringe your copyright, you (or your agent) may send us a notice requesting that the material be removed, or access to it blocked. If you believe in good faith that a notice of copyright infringement has been wrongly filed against you, the DMCA permits you to send us a counter-notice. Notices and counter-notices must meet the then-current statutory requirements imposed by the DMCA. Notices and counter-notices with respect to the Site should be sent to us by emailing at: <%= mail_to 'dmca@Golden Guide.com', 'dmca@Golden Guide.com' %> or by mail at: Golden Guide, LLC., DMCA, 100 Second Avenue South, Suite 210, Edmonds, WA 98020.</p>

  <p>We suggest that you consult your legal advisor before filing a notice or counter-notice. Also, be aware that there can be penalties for false claims under the DMCA.</p>

  <h3>Payment, Refunds, Upgrading and Downgrading</h3>

  <p>A valid credit card is required for paying accounts. Free accounts which provide a limited access to the Service are not required to provide a credit card number. The Golden Guide Site is billed in advance on a monthly basis in accordance with our <%= link_to 'pricing schedule', '/pricing' %> and all payments are non-refundable. There will be no refunds or credits for partial months of Service, upgrade/ downgrade refunds, or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.</p>

  <p>You will be billed for your first month immediately upon signing up for a paying account. After signing up for a paying account and you don’t cancel that account within 30 days, you will be billed monthly starting on the 30th day after your account was initially created. An upgrade from the free account to any paying account will end your free trial. You will be billed for your first month immediately upon upgrading. For any upgrade or downgrade in plan level, your credit card that you provided will automatically be charged monthly the new rate.</p>

  <p>On paying accounts, if you exceed the maximum number of entries allowed for a given month, a fee of $0.05 USD per entry exceeding the limit will be charged to your account at the end of your billing period. On free accounts, forms will be deactivated once they have exceeded the maximum number of entries allowed for a given month.</p>

  <p>All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties, excluding only United States (federal or state) taxes. You agree to pay for any such taxes that might be applicable to your use of the Service and payments made by you herein.</p>

  <p>DOWNGRADING YOUR Golden Guide SITE MAY CAUSE THE LOSS OF CONTENT, FEATURES, OR CAPACITY OF YOUR ACCOUNT. Golden Guide DOES NOT ACCEPT ANY LIABILITY FOR SUCH LOSS.</p>

  <h3>Violation of these Terms of Service</h3>

  <p>Golden Guide reserves the right to investigate and prosecute violations of any of these Terms of Service to the fullest extent of the law. Golden Guide may involve and cooperate with law enforcement authorities in prosecuting users who violate the Terms of Service. You acknowledge that Golden Guide has no obligation to pre-screen or monitor your access to or use of the Golden Guide Site or any information, materials or other content provided or made available through the Golden Guide Site, but has the right to do so. You hereby agree that Golden Guide may, in the exercise of Golden Guide’s sole discretion, remove or delete any entries, information, materials or other content that violates these Terms of Service or that is otherwise objectionable.</p>

  <h3>Cancellation</h3>

  <p>You are solely responsible for properly canceling your account. An email or phone request to cancel your account shall not result in cancellation. You can cancel your account at any time by contacting us at <%= mail_to 'customerservice@Golden Guide.com', 'customerservice@Golden Guide.com' %> or by mailing us at: Golden Guide, LLC., Customer Service, 100 Second Avenue South, Suite 210, Edmonds, WA 98020.</p>

  <p>The Account page provides a simple no questions asked cancellation link. Any cancellation of your Account will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. This information cannot be recovered from Golden Guide once your account is cancelled. Please be aware that Golden Guide may for a time retain residual information in our backup and/or archival copies of our database. We will make reasonable commercial efforts to delete your information as soon as possible after you communicate that intention to us.</p>

  <p>Cancellations will take effect immediately. Upon the commencement of a new Service period the Service will terminate without additional notice, and you will not be charged for any subsequent Service periods. You will not be provided any refunds for unused time on your Service period.</p>

  <p>Customers may update or change their registration information by logging in to their accounts at <%= link_to 'http://Golden Guide.com', 'http://Golden Guide.com' %>. Requests to access, change, or delete your information will be handled within 30 days.</p>

  <h3>Modifications to the Golden Guide Site and Prices</h3>

  <ul>
    <li>Golden Guide reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Golden Guide Site and Service (or any part thereof) with or without notice.</li>
    <li>Prices of all Golden Guide Sites, including but not limited to monthly subscription plan fees to the Golden Guide Site, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the Golden Guide Site.</li>
    <li>Golden Guide shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Golden Guide Site.</li>
    <li>Golden Guide reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Golden Guide Site, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Golden Guide Site after any such changes shall constitute your consent to such changes.</li>
  </ul>

  <h3>Copyright and Content Ownership</h3>

  <p>We claim no intellectual property rights over the material you provide to the Golden Guide Site. Your profile and materials uploaded remain yours. However, by setting your pages to be shared publicly, you agree to allow others to view and share any Content.</p>

  <p>Golden Guide does not pre-screen Content, but Golden Guide and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Golden Guide Site.</p>

  <h3>Feedback</h3>

  <p>If you provide Golden Guide any feedback or suggestions regarding the Site or Services (“Feedback”), you hereby assign to Golden Guide all rights in the Feedback and agree that Golden Guide shall have the right to use such Feedback and related information in any manner it deems appropriate. Golden Guide will treat any Feedback you provide to Golden Guide as non- confidential and non-proprietary. You agree that you will not submit to Golden Guide any information or ideas that you consider to be confidential or proprietary</p>

  <h3>Jurisdictional Issues</h3>

  <p>The Site is solely directed to individuals residing in the United States. We make no representation that materials in the Site are appropriate or available for use in other locations. Those who choose to access the Site from other locations do so on their own initiative and at their own risk, and are responsible for compliance with local laws, if and to the extent applicable. We reserve the right to limit the availability of the Site and/or the provision of any service or product described thereon to any person, geographic area, or jurisdiction we so desire, at any time and in our sole discretion, and to limit the quantities of any such service or product that we provide.</p>

  <h3>Links to Other Websites</h3>

  <p>The Site may contain links to other Internet websites or resources. We neither control nor endorse such other websites, nor have we reviewed or approved any content that appears on such other websites. You acknowledge and agree that we shall not be held responsible for the legality, accuracy, or inappropriate nature of any content, advertising, products, services, or information located on or through any other websites, nor for any loss or damages caused or alleged to have been caused by the use of or reliance on any such content.</p>

  <h3>Online Content</h3>

  <p>Opinions, advice, statements, offers, or other information or content made available through the Site, but not directly by Us, are those of their respective authors, and should not necessarily be relied upon. Such authors are solely responsible for such content. WE DO NOT GUARANTEE THE ACCURACY, COMPLETENESS, OR USEFULNESS OF ANY INFORMATION ON THE SITE AND WE NEITHER ADOPT NOR ENDORSE NOR ARE WE RESPONSIBLE FOR THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE, OR STATEMENT MADE BY PARTIES OTHER THAN US. UNDER NO CIRCUMSTANCES ARE BE RESPONSIBLE FOR ANY LOSS OR DAMAGE RESULTING FROM ANYONE'S RELIANCE ON INFORMATION OR OTHER CONTENT POSTED ON THE SERVICE, OR TRANSMITTED TO MEMBERS.</p>

  <p>WE RESERVE THE RIGHT, BUT WE HAVE NO OBLIGATION, TO MONITOR THE MATERIALS POSTED IN THE PUBLIC AREAS OF THE SERVICE. WE SHALL HAVE THE RIGHT TO REMOVE ANY SUCH MATERIAL THAT, IN OUR SOLE DISCRETION, VIOLATES, OR IS ALLEGED TO VIOLATE, THE LAW OR THIS AGREEMENT. WE RESERVE THE RIGHT TO MAKE EDITS AND MODIFICATIONS TO ENTRIES FOR CLARITY PURPOSES, TO REPLACE MISSPELLINGS, OR OTHER EDITS THAT WOULD BETTER HELP THE PROCESS. NOTWITHSTANDING THIS RIGHT, YOU REMAIN SOLELY RESPONSIBLE FOR THE CONTENT OF THE MATERIALS YOU POST IN THE PUBLIC AREAS OF THE SERVICE AND IN YOUR PRIVATE EMAIL MESSAGES. EMAILS SENT BETWEEN YOU AND OTHER MEMBERS THAT ARE NOT READILY ACCESSIBLE TO THE GENERAL PUBLIC WILL BE TREATED BY US AS PRIVATE TO THE EXTENT REQUIRED BY APPLICABLE LAW.</p>

  <p>You are solely responsible for the content or information You publish or display (hereinafter, "post") on the Site, or transmit to other Members. You will not post on the Site, or transmit to other Members or to Us or Our employees, any defamatory, inaccurate, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, racially offensive, or illegal material, or any material that infringes or violates another party's rights (including, but not limited to, intellectual property rights, and rights of privacy and publicity). You will not include in Your profile any offensive anatomical or sexual references, or offensive sexually suggestive or connotative language, and You will not post any photos containing nudity or personal information. We reserve the right, but we have no obligation, to reject any profile or photo that does not comply with the prohibitions set forth in this section and, to the extent that We determine, in Our sole discretion, to do so.</p>

  <p>Golden Guide does not warrant or recommend any specific Service Provider or Service Instructors on the Site work for Us as independent contractors (IC's). When you choose an IC from our Site, you are hiring Golden Guide, Inc. to provide services to you through our network of independent contractors. Readers are advised that all Providers on the Site are independent contractors, and not employees of Golden Guide. Golden Guide does not warrant the services provided by any instructor listed on the Site. It is up to the parties involved to choose the provider best suited for each customer.</p>

  <p>You agree that under no circumstances is Golden Guide liable for any incidental, consequential, material, punitive, physical damage, bodily injury, emotional distress, discomfort, mental, or other damages of any nature whatsoever arising out of or in connection with the actions or inactions of any independent contractor. You are advised that we do not warrant the services provided by any independent contractor and that it is your sole decision on which independent contractor you choose. This paragraph shall survive termination of this agreement. YOU SHOULD VERIFY ALL CLAIMS AND DO YOUR OWN RESEARCH BEFORE CHOOSING AN INSTRUCTOR IN Golden Guide'S NEWSLETTER OR WEBSITE. You understand that we have obtained a criminal background check of the independent contractor at the time we hired them, but we cannot guarantee that there has not been a material change in their status since the time of hire. <%= link_to 'What is covered in a background check?', '/background' %> You agree that under no circumstances is Golden Guide, Inc. liable for any incidental, consequential, material, punitive, physical damage, bodily injury, emotional distress, discomfort, mental, or other damages of any nature whatsoever arising out of or in connection with the actions or inactions of any independent contractor. You are advised that we do not warrant the services provided by any independent contractor and that it is your sole decision on which independent contractor you choose. You understand that we have obtained and posted information about the independent contractor on its web site. This content and information is the sole responsibility of the independent contractor and we do not guarantee the accuracy, completeness, or usefulness of any information found on the web site and we neither adopt nor endorse nor are we responsible for the accuracy or reliability of any opinion, statement, content, or advice made by any independent contractor.</p>

  <p>You agree to indemnify, defend, and hold us, our officers, our employees harmless from any and all claims damages, losses, costs (including reasonable attorneys' fees), or other expenses that arise directly or indirectly out of or from your activities in connection with the web site or any services related to an independent contractor found through our services.</p>

  <h3>Disclaimers</h3>

  <p>UNDER NO CIRCUMSTANCE IS Golden Guide, LLC, Golden Guide, OUR PARTNERS, DIRECTORS, OFFICERS, EMPLOYEES AND AGENTS LIABLE FOR ANY INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR SPECIAL DAMAGES OF ANY NATURE WHATSOEVER ARISING OUT OF OR IN CONNECTION WITH PROVIDING OR FAILING TO PROVIDE SERVICE OR ANY CHANGE IN THE FUNCTIONALITY OF THE SITE, INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR LOSS OF BUSINESS. THIS SECTION SHALL ALSO SURVIVE THE TERMINATION OF THIS AGREEMENT.</p>

  <p>WE PROVIDE THE SITE AND LESSONS ON AN "AS IS" BASIS AND GRANT NO WARRANTIES OF ANY KIND, EXPRESSED, IMPLIED, STATUTORY, IN ANY COMMUNICATION WITH OUR REPRESENTATIVES, OR US OR OTHERWISE WITH RESPECT TO THE SITE. WE SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. FURTHER, WE DO NOT WARRANT THAT YOUR USE OF THE SITE WILL BE SECURE, UNINTERRUPTED, ALWAYS AVAILABLE OR ERROR-FREE OR THAT THE SITE WILL MEET YOUR REQUIREMENTS OR THAT ANY DEFECTS IN THE SITE WILL BE CORRECTED. WE DISCLAIM LIABILITY FOR, AND NO WARRANTY IS MADE WITH RESPECT TO, CONNECTIVITY AND AVAILABILITY. WE RESERVE THE RIGHT, AT ANY TIME AND IN OUR SOLE DISCRETION, TO MODIFY OR CHANGE THE SITE OFFERING. WE PROVIDE NO GUARANTEE OF ANY KIND THAT THE SITE, CODE, LAYOUT, DESIGN, SEARCH ALGORITHMS, SEARCH RESULTS, FUNCTIONALITY, OR ANY OTHER ITEM RELATED TO THE SITE WILL NOT MATERIALLY CHANGE DURING THE COURSE OF THE TERM OF YOUR MEMBERSHIP.</p>

  <p>Although each member must agree to Our terms and conditions, We cannot and do not guarantee that the material and content posted by each member to be true and warranted. We cannot guarantee that each member is at least the required minimum age, nor do we accept responsibility or liability for any content, communication or other use or access of the Site by persons under the age of 18 in violation of this Agreement. Also, it is possible that other members or users (including unauthorized users, or "hackers") may post or transmit offensive or obscene materials on the Site and that You may be involuntarily exposed to such offensive and obscene materials. It also is remotely possible for others to obtain personal information about You due to Your use of the Site, and that the recipient may use such information to harass or injure You. We are not responsible for the use of any personal information that You disclose on the Site. Please carefully select the type of information that You post on the Site or release to others. WE DISCLAIM ALL LIABILITY, REGARDLESS OF THE FORM OF ACTION, FOR THE ACTS OR OMISSIONS OF OTHER MEMBERS OR USERS (INCLUDING UNAUTHORIZED USERS), WHETHER SUCH ACTS OR OMISSIONS OCCUR DURING THE USE OF THE SITE OR OTHERWISE.</p>

  <h3>Limitation of Liability</h3>

  <p>Neither Golden Guide , LLC, Golden Guide, nor its affiliates, suppliers, advertisers, affiliates, or agents or sponsors are responsible or liable for any indirect, incidental, consequential, special, exemplary, punitive or other damages under any contract, negligence, strict liability or other theory arising out of or relating in any way to the Site and/or content contained on the Site, or any product or service purchased through the Site.</p>

  <p>IN NO EVENT WILL WE BE LIABLE TO YOU FOR ANY INCIDENTAL, CONSEQUENTIAL, OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF DATA, LOSS OF PROGRAMS, LOSS OF INCOME, ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, ANY LOSS OF CUSTOMERS, COST OF PROCUREMENT OF SUBSTITUTE SERVICES, OR SERVICE INTERRUPTIONS) ARISING OUT OF THE USE OF OR INABILITY TO USE THE SITE, EVEN IF WE OR OUR AGENTS OR REPRESENTATIVES KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR TO ANY PERSON OTHER THAN YOU. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER, AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO US FOR THE SITE DURING THE CURRENT TERM OF YOUR MEMBERSHIP.</p>

  <p>UNLESS NOTED OTHERWISE, WE DO NOT CONDUCT BACKGROUND CHECKS OR OTHERWISE SCREEN THE MEMBERS REGISTERING TO THE SITE IN ANY WAY. AS A RESULT, WE WILL NOT BE LIABLE FOR ANY DAMAGES, DIRECT, INDIRECT, INCIDENTAL AND/OR CONSEQUENTIAL, ARISING OUT OF THE USE OF THIS SITE, INCLUDING, WITHOUT LIMITATION, DAMAGES ARISING OUT OF COMMUNICATING AND/OR MEETING WITH OTHER MEMBERS OF THE SITE, OR INDIVIDUALS INTRODUCED TO YOU VIA THE SITE. SUCH DAMAGES INCLUDE, WITHOUT LIMITATION, PHYSICAL DAMAGES, BODILY INJURY AND OR EMOTIONAL DISTRESS AND DISCOMFORT.</p>

  <h3>Indemnification</h3>

  <p>You agree to indemnify, defend and hold us, our officers, directors, employees, agents and representatives harmless from and against any and all claims, damages, losses, costs (including reasonable attorneys' fees), or other expenses that arise directly or indirectly out of or from (a) your breach of this Agreement, including any violation of the Code of Conduct above; (b) any allegation that any materials that you submit to us or transmit to the Site infringe or otherwise violate the copyright, trademark, trade secret or other intellectual property or other rights of any third party; and/or (c) your activities in connection with the Site or any services related to the Site. This indemnification extends to and includes any attorney's fees and costs incurred by us arising from any action or claims to which this indemnification applies, or from the contesting of the applicability of this provision. This section survives termination of this Agreement.</p>

  <h3>Mandatory Arbitration of Disputes</h3>

  <p>ANY CLAIM, CONTROVERSY OR DISPUTE OF ANY KIND BETWEEN THE SUBSCRIBER AND THE COMPANY AND/OR ANY OF ITS EMPLOYEES, AGENTS, AFFILIATES OR OTHER REPRESENTATIVES, WHETHER SOUNDING IN CONTRACT, STATUTE OR TORT, INCLUDING FRAUD, MISREPRESENTATION, FRAUDULENT INDUCEMENT, OR ANY OTHER LEGAL OR EQUITABLE THEORY AND REGARDLESS OF THE DATE OF ACCRUAL OF SUCH CLAIM, CONTROVERSY OR DISPUTE SHALL BE RESOLVED BY FINAL AND BINDING ARBITRATION AS PRESCRIBED IN THIS SECTION. THE FEDERAL ARBITRATION ACT, NOT STATE LAW, GOVERNS THE QUESTION OF WHETHER A CLAIM IS SUBJECT TO ARBITRATION. HOWEVER, NOTHING CONTAINED IN THIS ARBITRATION PROVISION SHALL PRECLUDE THE CUSTOMER FROM RESOLVING ANY CLAIM, CONTROVERSY OR DISPUTE IN SMALL CLAIMS COURT HE OR SHE WOULD OTHERWISE WOULD HAVE A RIGHT TO PURSUE.</p>

  <p>A single arbitrator engaged in the practice of law will conduct the arbitration. The arbitrator will be selected in accordance to the rules of the American Arbitration Association or may be selected by agreement of the parties, who shall cooperate in good faith to select the arbitrator. The arbitration will be conducted by, and under the then applicable rules of the American arbitration Association. Any required hearing fees and costs shall be paid by the parties as required by applicable rules or as required by applicable law, but the arbitrator shall have the power to apportion such costs as the arbitrator deems appropriate.</p>

  <p>THE ARBITRATOR'S DECISION AND AWARD WILL BE FINAL AND BINDING, AND JUDGMENT ON THE AWARD RENDERED BY THE ARBITRATOR MAY BE ENTERED IN ANY COURT WITH JURISDICTION.</p>

  <p>If any party files a judicial or administrative action asserting a claim that is subject to arbitration and another party successfully stays such action or compels arbitration, the party filing that action must pay the other party's costs and expenses incurred in seeking such stay or compelling arbitration, including attorney fees.</p>

  <p>THIS AGREEMENT IS GOVERNED BY AND MUST BE CONSTRUED UNDER THE LAWS OF THE STATE OF WASHINGTON, WITHOUT REGARD TO CHOICE OF LAW PRINCIPLES AND YOU AGREE TO SUBMIT YOURSELF TO THE PERSONAL JURISDICTION OF THE COURTS IN THE STATE OF WASHINGTON.</p>

  <h3>General</h3>

  <p>These Terms of Service will be governed by and construed in accordance with the laws of the State of Washington, without giving effect to its conflict of laws provisions or your actual state or country of residence. If for any reason a court of competent jurisdiction finds any provision or portion of the Terms of Service to be unenforceable, the remainder of the Terms of Service will continue in full force and effect. These Terms of Service constitute the entire agreement between the parties with respect to the subject matter hereof and supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral, regarding such subject matter (including, but not limited to, any prior versions of the Terms of Service). Any waiver of any provision of the Terms of Service will be effective only if in writing and signed by an authorized representative of Golden Guide.</p>

  <p>Questions about the Terms of Service and/or billing should be addressed to <%= mail_to 'customerservice@Golden Guide.com', 'customerservice@Golden Guide.com' %> or by mail at: Golden Guide, LLC., Billing, 100 Second Avenue South, Suite 210, Edmonds, WA 98020.</p>

  <p>If either party does not enforce any right or remedy available under this Agreement, that failure is not a waiver of the right or remedy for any other breach or failure by the other party. Our waiver of any requirement in any one instance is not a general waiver of that requirement and does not amend this Agreement. If any part of this Agreement is held invalid or unenforceable, that part is interpreted consistent with applicable laws as nearly as possible to reflect the original intentions of the parties and the rest of this Agreement remains in full force and effect. The provisions of this Agreement that are contemplated to be enforceable after the termination of this Agreement survive termination of this Agreement.</p>

  <p>The terms and conditions of this Terms of Use Agreement may be edited and modified by Golden Guide at any time.</p>

  <p>USE OF THIS SITE SIGNIFIES YOUR AGREEMENT TO THIS TERMS OF USE AGREEMENT</p>

  <p>Thank you.</p>
</div>
